.site-content-gallery {
  width: 100%;
  height: 700px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 10px; 
  grid-auto-flow: dense;
}

.site-content-gallery img:nth-child(1) {
  grid-area: 1 / 1 / 2 / 3; 
}

.site-content-gallery img:nth-child(2) {
  grid-area: 1 / 3 / 3 / 5; 
}

.site-content-gallery img:nth-child(3) {
  grid-area: 2 / 1 / 3 / 3; 
}

.site-content-gallery img:nth-child(4) {
  grid-area: 3 / 3 / 4 / 4; 
}

.site-content-gallery img:nth-child(5) {
  grid-area: 3 / 1 / 4 / 3; 
}

.photos {
  position: absolute;
  aspect-ratio: 16/9;
  width: auto;
  max-width: 100%;
  height: auto;
  z-index: -1;
}

#photo1 {
  background: #0F67B1;
  aspect-ratio: 16/9;
  height: 140px;
  right: 300px;
  top: 50px;
}

#photo2 {
  background: #0F67B1;
  aspect-ratio: 16/9;
  height: 160px;
  right: 300px;
  top: 200px;
}

#photo3 {
  background: #0F67B1;
  aspect-ratio: 9/16;
  height: 210px;
  left: 320px;
  top: 30px; 
}

#photo4 {
  background: #0F67B1;
  aspect-ratio: 16/9;
  height: 120px;
  left: 315px;
  top: 250px;
}

#photo5 {
  background: #0F67B1;
  aspect-ratio: 16/9;
  height: 240px;
  left: 30px;
  top: 381px;
}

@media (max-width: 768px) {
  .site-content-hero {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .site-content-gallery {
    height: auto;
    position: static;
  }

  .site-content-gallery img{
    transition: transform 0.3s ease;
  }

  .site-content-gallery img:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  }

  .photos {
    max-width: 90%;
    margin: 0 auto 1rem;
  }
}  