.site-content-hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .social-impact-content {
    display: grid; 
    grid-template-columns: 70% 30%; 
    gap: 20px;
  }
  
  .main-content {
    color: #010E1E; 
  }
  
  .main-content h1 {
    color: #06275B; 
    font-size: 2.5rem;
  }
  
  .main-content h3 {
    color: #062F85; 
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .main-content p {
    margin-bottom: 1rem;
  }
  
  .main-content ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 1rem;
  }
  
  .goals-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
  }
  
  .goal {
    text-align: center;
  }
  
  .goal img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  
  .goal ul {
    display: none; 
    text-align: center;
    list-style: none;
    padding: 0;
  }
  
  .button {
    display: inline-block;
    background-color: #0F67B1;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
  }
  
  .button:hover {
    background-color: #062F85;
  }
  
  .news-updates {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
  }
  
  .news-container {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .news-updates ul {
    list-style: none;
    padding: 0;
  }
  
  .news-updates li {
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden; 
    transition: all 0.3s ease;
  }
  
  .news-updates li img {
    width: 80px;
    height: auto;
    margin-right: 10px;
  }
  .news-updates li:hover {
    background-color: #f0f0f0; 
    transform: translateY(-2px); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  }

  /* socialimpact.css */
  @media (max-width: 768px) {
    .site-content-hero {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .social-impact-content {
      display: flex;
      flex-direction: column;
      align-items: center; 
    }
  
    .main-content {
      text-align: center;
    }
  
    .main-content h1 {
      font-size: 2rem;
      white-space: nowrap;
    }
  
    .main-content > .button {
      display: block;
      margin: 20px auto;
      width: fit-content;
      text-align: center;
    }
  
    .goals-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      width: 100%; 
    }
  
    .news-updates {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: auto;
      margin-top: -190px;
    }
  
    .news-updates li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
  
    .news-updates li img {
      margin-bottom: 10px;
    }

    .button-wrapper {
      display: flex;
      justify-content: center; 
      width: 100%;
      margin-top: 20px; 
      margin-left: 100px;
    }
  
    .button {
      width: fit-content;
      display: inline-block;
      margin-top: 20px;
      text-align: center;
    }
  }
  